{{define "Content"}}
		<div>The Goal of <b><em>Android Remote Locator</em></b>, is to enable you to do some remote controlled action from this website to your phone.</div>

	<h2>Functionnalities</h2>

	<ul>
		<li>Know the geolocalisation of your android</li>
		<li>Block access to it in case of theft</li>
		<li>Make it ring if you losed it.</li>
	</ul>

	<h2>Do not FORGET!!</h2>
	<div>
		This software is under constant development, and can be stopped at any time, the service too.
	</div>
	
	<h2>Source code available</h2>
	<div>
		The source code of the app is available
		<ul>
			<li><a href="">Web application (written in golang)</a></li>
			<li><a href="">Androir application (written in java)</a></li>
		</ul>
	</div>
{{end}}
