{{define "Content"}}
	<div>Le but d'<b><em>Android Remote Locator</em></b>, est de vous permettre depuis ce site web de faire plusieurs actions à distances.</div>

	<h2>Les fonctionnalités</h2>

	<ul>
		<li>Connaitre la geolocalisation de votre android</li>
		<li>De pouvoir le bloquer en cas de vol</li>
		<li>De le faire sonner en cas de perte (sous les coussins du canapé après une soirée arrosée ;))</li>
	</ul>

	<h2>A ne pas OUBLIER!!</h2>
	<div>
		L'application est en cours de développement, et est susceptible de voir son développement arreté, ou son fonctionnement arreté.
	</div>
	
	<h2>Code source disponible</h2>
	<div>
		Son code source est disponible sur gitHub
		<ul>
			<li><a href="">L'application web (écrite en golang)</a></li>
			<li><a href="">L'application android (écrite en java)</a></li>
		</ul>
	</div>
{{end}}
