{{define "Content"}}

<div>Cette application utilise diverse technologies : 
	<ul> 
		<li><a href="http://code.google.com/intl/fr-FR/appengine/" target="_blank">AppEngine</a> pour faire fonctionner le site web</li>
		<li><a href="http://www.android.com/" target="_blank">Android</a> : Le système d'exploitation de votre téléphone</li>
		<li><a href="http://developer.android.com/guide/google/gcm/index.html" target="_blank">Google Cloud Messaging (GCM)</a> : Pour envoyer directement des notifications depuis ce site web, sans avoir à laisser tourner l'application en tache de fond (ainsi la batterie a une plus longue durée de vie)</li> 
		<li><a href="http://code.google.com/intl/fr-FR/appengine/docs/java/channel/" target="_blank">Channel API</a> : Pour permettre à votre téléphone de vous répondre immédiatement</li> 
		<li><a href="http://www.icons-land.com/" target="_blank">Icons from icons-land</a> : Ce n'est pas une technologie, mais c'est pour des raisons de licences</li>
		</ul> 
	<div style="text-align:center;margin-top: 10px;"> <img alt="Powered by Google App Engine" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"> </div>
</div>

{{end}}