{{define "Content"}}
<div>This application is using several technologies to run this service : 

	<ul> 
		<li><a href="http://code.google.com/intl/fr-FR/appengine/" target="_blank">AppEngine</a> To run the WebSite
		</li>
		<li>
			<a href="http://www.android.com/" target="_blank">Android</a> : The Operating System used by your phone
		</li>
		<li>
			<a href="http://developer.android.com/guide/google/gcm/index.html" target="_blank">Gloud device messaging (C2DM)</a> : To directly send notification from the website to your phone, without running the software continuously (save battery)
		</li>
		<li>
			<a href="http://code.google.com/intl/fr-FR/appengine/docs/java/channel/" target="_blank">Channel API</a> : To enable your phone to send data in real time to your browser
		</li>
		<li>
			<a href="http://www.icons-land.com/" target="_blank">Icons from icons-land</a> : Not really a technology but needed for licence reasons
		</li> 
	</ul>

	<div style="text-align:center;margin-top: 10px;"> <img alt="Powered by Google App Engine" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"> </div>
</div>
{{end}}