{{define "Content"}}
	<div id="menuPhone">
		<ul>
			<li><a href="/phones?a=info">{{.i18n.Informations}}</a></li>
			<li><a href="/phones?a=geol">{{.i18n.Geol}}</a></li>
			<li><a href="/phones?a=ring">{{.i18n.Ring}}</a></li>
			<li><a href="/phones?a=block">{{.i18n.Lock}}</a></li>
		</ul>
	</div>


	<div id="phonesContent">
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
		fuck Ya!!!<br />
	</div>
{{end}}